<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anjiplus.template.gaea.business.modules.export.dao.GaeaExportMapper">

    <resultMap type="com.anjiplus.template.gaea.business.modules.export.dao.entity.GaeaExport" id="GaeaExportMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fileId" column="file_id" jdbcType="VARCHAR"/>
        <result property="fileTitle" column="file_title" jdbcType="VARCHAR"/>
        <result property="resultStartTime" column="result_start_time" jdbcType="TIMESTAMP"/>
        <result property="resultEndTime" column="result_end_time" jdbcType="TIMESTAMP"/>
        <result property="resultSize" column="result_size" jdbcType="INTEGER"/>
        <result property="fileCreateTime" column="file_create_time" jdbcType="TIMESTAMP"/>
        <result property="fileFinishTime" column="file_finish_time" jdbcType="TIMESTAMP"/>
        <result property="fileStatus" column="file_status" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, file_id, file_title, result_start_time, result_end_time, result_size, file_create_time, file_finish_time,
        file_status, create_by, update_by, create_time, update_time, version, remark
    </sql>

    <select id="queryExportInfo" resultMap="GaeaExportMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM gaea_export ge
        WHERE 1=1
        <if test="bo.fileTitle!=null and bo.fileTitle!=''">
           and  ge.file_title=#{bo.fileTitle}
        </if>
        <if test="ew == null or ew.sqlSegment == null or ew.sqlSegment == '' ">
            ORDER BY
            ge.create_time DESC
        </if>
        <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != '' ">
            <if test="ew.paramNameValuePairs != null and ew.paramNameValuePairs.size > 0">
                and
            </if>
            ${ew.sqlSegment}
        </if>
    </select>

</mapper>
