@font-face {
  font-family: "iconfont"; /* Project id 4369261 */
  src: url('iconfont.woff2?t=1702535676905') format('woff2'),
       url('iconfont.woff?t=1702535676905') format('woff'),
       url('iconfont.ttf?t=1702535676905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-03:before {
  content: "\e60e";
}

.icon-ditu:before {
  content: "\e884";
}

